<footer class="mt-24 pt-8 pb-12 bg-indigo-700 text-white">
  <div class="mx-auto max-w-screen-md px-4 flex items-center justify-between">
    <span class="text-sm text-indigo-300">
      Copyright &copy; 2023
    </span>
    <nav>
      <ul class="flex items-center gap-5">
        <li><a class="text-indigo-200" href="#">About</a></li>
        <li><a class="text-indigo-200" href="#">Setup</a></li>
      </ul>
    </nav>
  </div>
</footer>