<header class="py-6">
  <div class="mx-auto max-w-screen-md px-4 flex items-center justify-between">
    <a href="/">
      <strong class="text-lg text-indigo-700">
        MyPortfolio
      </strong>
    </a>
    <nav>
      <ul class="flex items-center gap-5">
        <li><a class="text-gray-500" href="#">Posts</a></li>
        <li><a class="text-gray-500" href="#">Projects</a></li>
      </ul>
    </nav>
  </div>
</header>